---
layout: splash
classes: wide


feature_row:
- image_path: /assets/images/pocket_rhodes.jpg
  title: "Pocket"
  excerpt: "<p align=center><b>Desktop version</b></p>
  <p align=center>6 Buttons <br> 2 Knobs<br>
    MIDI In/Out<br>
    USB<br>
    Optional 3D-printed Cover<br></p>"
  url: "/purchase/"
  btn_label: "69€"
  btn_class: "btn--inverse"

- image_path: /assets/images/boxed.jpg
  title: "Boxed"
  excerpt: "<p align=center><b>Use pedals instead of buttons</b></p>
  <p align=center>6 Jack inputs for Switch Pedals<br>
    2 Jack Inputs for Expression Pedals<br>
    MIDI In/Out<br>
    USB<br>
    Robust plastic enclosure</p>"
  url: "/purchase/"
  btn_label: "129€"
  btn_class: "btn--inverse"

- image_path: /assets/images/Maker.jpeg
  title: "Maker"
  excerpt: "<p align=center><b>Create your own enclosure</b></p>
  <p align=center>6 Soldering Slots for Switches<br>
    2 Soldering Slots for variable Resistors<br>
    MIDI In/Out<br>
    USB<br>
    Includes Board + Components</p>"
  url: "/purchase/"
  btn_label: "59€"
  btn_class: "btn--inverse"

feature_row2:
- image_path: /assets/images/standard_midi.png
  title: "Standard USB"
  excerpt: "<p align=center>Simply connect open·control to your computer using a standard USB cable.<br> <br> <br> <br> <br> <br> <br></p>"
- image_path: /assets/images/remote_midi.png
  title: "Remote Control"
  excerpt: "<p align=center>For longer disctance, you can use the MIDI In and Out ports.<br>The power will be supllied by the USB port.<br> <br> <br> <br> <br> <br></p>"
- image_path: /assets/images/external_midi.png
  title: "External MIDI"
  excerpt: "<p align=center><b>Use your own equipment to control open·control.</b> <br>
  Just plug your gear to the MIDI In port, set the controls on the editor and your gear will trigger the corresponding buttons. <br>
  Any MIDI hardware that sends Notes or Control Changes can be used (for instance FCB1010, SPD-SX...).</p>"


accordion: 
  - title: Display
    content: Scene Name · Track Name · Marker Name · Variation Number · Looper Number
  - title: LEDs
    content: "<b><u>Global Actions</u></b> : Start/Stop · Metronome · Arrangement Rec · ⥁ Arrangement Loop · ○ Session Rec<br>
    <br> <b><u>Scene Actions</u></b> : Selected Scene Color · Prev/Next Scene Color · Unable/Disable Follow Actions<br>
    <br> <b><u>Track Actions</u></b> : Selected Track Color · Prev/Next Track Color · Clip Color · Mute · Solo · Arm <br>
    <br> <b><u>Looper Actions</u></b> : Prev/Next Looper Track Color · Looper State · Looper Track Arm · Looper Track Mute"
  - title: Buttons
    content: "<b><u>Global Actions</u></b> : Start/Stop · Metronome · Undo · Capture · BPM +1/-1 · Arr / Session View Toggle <br>
    <br> <b><u>Scene Actions</u></b> : Launch Scene · Select Next/Prev Scene · Session Record · Insert Scene · Stop All Clips · Unable/Disable Follow Actions <br> 
    <br> <b><u>Arrangement Actions</u></b> : Arrangement Rec · Arrangement Loop · Go to Prev/Next Marker · Add/Delete Marker · Loop to Next Marker · Punch In / Punch Out · Jump to 1.1.1 <br> 
    <br> <b><u>Track Actions</u></b> : Launch Clip · Find Empty Slot · Mute · Solo · Arm · Stop · Select Prev/Next Track · Add Audio/MIDI Track <br> 
    <br> <b><u>Variations Actions</u></b> : Launch, Store or Recall Variations · Randomize Macros · Select Prev/Next Variation · Select Prev/Next Device<br>
    <br>  <b><u>Looper Actions</u></b> : Rec/Play/OVR per Looper · Select Prev/Next Looper · Clear 1 · Clear All · Arm/Mute Looper Track · 6 MIDI-Mapable buttons per Looper"
  - title: Knobs
    content: "<br> <b><u>Global</u></b> : Last Selected Parameter · Global Groove Amount<br>
    <br> <b><u>Selected Track</u></b> : Send A · Send B · Selected Device Parameters 1 & 2 · Device 1 Parameters 1 & 2 · Looper Device 1 Parameters 1 & 2"

gallery:
  - url: /assets/images/exemple-opencontrol-arrangement-1024x729.png
    image_path: /assets/images/exemple-opencontrol-arrangement-1024x729.png
    title: "Arrangement actions"
  - url: /assets/images/exemple-opencontrol-scenes-1024x730.png
    image_path: /assets/images/exemple-opencontrol-scenes-1024x730.png
    title: "Scene actions"
  - url: /assets/images/exemple-opencontrol-tracks-1024x731.png
    image_path: /assets/images/exemple-opencontrol-tracks-1024x731.png
    title: "Track actions"
  - url: /assets/images/exemple-opencontrol-variations-1024x730.png
    image_path: /assets/images/exemple-opencontrol-variations-1024x730.png
    title: "Variation actions"


---

<html>
    <br>
    <div >
        <img src="./assets/images/logo_big.png" class="my_header"/>

    </div>
    <h3>
        open·control is a Control Surface for Ableton Live that adapts to your needs.<br>
        It has a large and bright display, 6 buttons and 2 sliders that you can configure exactly the way you want.<br>

    </h3>
    <br>
    <img src="./assets/images/open_control_rhodes.jpg" class="my_header"/>
    <br>

<h1>
1 controler, 3 flavors
</h1>
<h3>
    open·control comes in 3 flavors:
</h3>

<br>
{% include feature_row %}

<h3>
    Each version has the same set of features, simply choose how you want to control it.
</h3>
<br>
<h1>
    Create your own layout
</h1>

<h3>
    Each element of the controller can be changed instantly with an easy to use Web Editor.<br>
    You can creaate up to 3 pages of controls.
</h3>


<br>
<a href="https://kblivesolutions.github.io/open.control-editor/" target="_blank">
<img src="./assets/images/editor_m4l.png" class="my_header"/></a>
<br>
<h3>
  Available Actions
</h3>
<br>
</html>
{% include accordion.html %}
<html>
<h3>
    Layout Examples
</h3>
<div class="my_header">{% include gallery layout="half" %}
</div>
<br>
<h1>3 MIDI modes</h1>
<h3>open·control has mini-jack MIDI In and Out ports, making it possible to connect it in 3 different ways. 
</h3>
<br>

{% include feature_row id="feature_row2" %}

<h1>Specifications</h1>
<br>
<h1>
    FAQ

</h1>
</html>