---
layout: splash
classes: wide
permalink: /

feature_row:
- image_path: /assets/images/red_pocket_2.jpg
  title: "Pocket"
  image_url: "./versions/"
  excerpt: "<p align=center><b>Desktop version</b></p>
  <p align=center>6 Buttons <br> 2 Knobs<br>
    MIDI In/Out<br>
    USB<br>
    Optional 3D-printed Cover<br></p>"
  url: "/purchase/"
  btn_label: "69€"
  btn_class: "btn--inverse"

- image_path: /assets/images/red_boxed.jpg
  title: "Boxed"
  image_url: "./versions/#boxed"
  excerpt: "<p align=center><b>Use pedals instead of buttons</b></p>
  <p align=center>6 Jack inputs for Switch Pedals<br>
    2 Jack Inputs for Expression Pedals<br>
    MIDI In/Out<br>
    USB<br>
    Robust plastic enclosure</p>"
  url: "/purchase/"
  btn_label: "129€"
  btn_class: "btn--inverse"

- image_path: /assets/images/red_maker2.jpg
  title: "Maker"
  image_url: "./versions/#maker"
  excerpt: "<p align=center><b>Create your own enclosure</b></p>
  <p align=center>6 Soldering Slots for Switches<br>
    2 Soldering Slots for variable Resistors<br>
    MIDI In/Out<br>
    USB<br>
    Includes Board + Components</p>"
  url: "/purchase/"
  btn_label: "59€"
  btn_class: "btn--inverse"

feature_row2:
- image_path: /assets/images/standard_midi.png
  title: "Standard USB"
  excerpt: "<p align=center>Simply connect open·control to your computer using a standard USB cable.<br> <br> <br> <br> <br> <br> <br></p>"
- image_path: /assets/images/remote_midi.png
  title: "Remote Control"
  excerpt: "<p align=center>For longer distance, you can use the MIDI In and Out ports.<br>The power will be supllied by the USB port.<br> <br> <br> <br> <br> <br></p>"
- image_path: /assets/images/external_midi.png
  title: "External MIDI"
  excerpt: "<p align=center><b>Use your own equipment to control open·control.</b> <br>
  Just plug your gear to the MIDI In port, set the controls on the editor and your gear will trigger the corresponding buttons. <br>
  Any MIDI hardware that sends Notes or Control Changes can be used (for instance FCB1010, SPD-SX...).</p>"


gallery_examples:
- url: /assets/images/scene_example.jpg
  image_path: /assets/images/scene_example.jpg
  title: "Scenes"
- url: /assets/images/track_example.jpg
  image_path: /assets/images/track_example.jpg
  title: "Tracks"
- url: /assets/images/arr_example.jpg
  image_path: /assets/images/arr_example.jpg
  title: "Arrangement"

gallery_looper:
- image_path: /assets/images/looper.jpeg
- image_path: /assets/images/opencontrol_box_small.jpg
---

<html>
    <br>
    <div >
        <img src="./assets/images/logo_big.png" class="my_header2"/>

    </div>
    <br>
    <div >
      <h4 align=center>
        open·control is a Control Surface for Ableton Live with some unique features.<br></h4>

    <p align=center>
        It has a <b>large and bright display, 6 buttons with visual feedback</b> and <b>2 knobs.</b><br>
        <b>You</b> decide what each element will control, whether using your <b>fingers</b> or with <b>pedals</b>.<br>
        <br>
      </p>
        <div >
            <img src="./assets/images/pocket_angle.jpg" class="my_header"/>
    
        </div>
        <br>
        <p align=center>
        Is is Open Source, so all the code is available, and it will continue to improve with its user base.

    </div>
    <br>
    <div class="auto-resizable-iframe">
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4LWdT278taY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
</div>

    <h1>
1 controller, 3 flavors
</h1>
<p align=center>
  <h3>open·control is available in 3 formats.</h3> <br>
  <b>Pocket</b> is a lightweight desktop controler, <b>Boxed</b> is designed to be used with pedals, and <b>Maker</b> is for the hobbyist who wants to create his own enclosure.<br>
  Each version has the same set of features, simply choose how you want to control it.
</p>

<br>
{% include feature_row %}

<br><h1>
  Control the controls
</h1>

<p align=center>
    Each element of the controller can be changed instantly with an easy to use Web Editor (also available offline).<br>
    You can create up to 3 different pages of controls.<br>
    No need to reload Live or refresh anything, all changes are applied immediately.
</p>


<br>
<img src="./assets/images/editor_m4l.png" class="my_header2"/>
<br>
<p align=center>
  <b>open·control is the only controller available that shows and controls Variations, Scene names, Looper state... along many other unique features.<br>
  You can find a <a href="./ressources/">list of available actions</a> on the Ressources page.</b>  

<a id="examples"></a>  
</p>
<p align=center>Here are a few examples of configurations (click to zoom).
</p>
{% include gallery id="gallery_examples" %}

<p align=center>
  open·control being Open Source, you can adapt the code to your own needs.</p>

<br>
<h1>
Looper integration
</h1>
<h3>open·control takes extra care of Live's Looper device</h3>
  <p align=center><b>open·control detects any Looper that has (LOOPER#) in its name.</b> You can then navigate through Loopers and control and monitor the state of each Looper individually.<br>
  Another useful feature is that you can monitor the state of 6 Loopers simultaneously</p>
<br>

<div >
  <img src="./assets/images/looper_suroptimized.gif" class="my_header_2"/>

</div>
<!-- <br>
<div >
<img src="./assets/images/opencontrol_box_small.jpg" class="my_header_2"/>

</div> -->
<br>

<h3>open·control demo</h3>
<div class="auto-resizable-iframe">
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XDOy5wNA_7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<h1>
  3 MIDI modes</h1>
<p align=center>open·control has  MIDI In and Out ports (stereo 3.5mm minijack), making it possible to connect it in 3 different ways. <br>
  This is available on all the versions (Pocket, Boxed or Maker).
</p>
<br>

{% include feature_row id="feature_row2" %}
  <br>
  
  <h1>
  Specifications</h1>
<div class="specs">
<b>Display:</b>
<li>32x6 pixels White LED Matrix</li>
<li>6 RGB LEDs with adjustable brightness</li>
<br>
<b>Connectors:</b>
<li>USB Type B</li>
<li>Stereo 3.5mm minijack MIDI In & Out</li>
<li><b>Boxed: </b>8 x 6.35mm Jack Inputs (6 Mono for Pedal Switches, 2 Stereo for Expression Pedals)</li>
<li><b>Pocket: </b>6 Buttons and 2 Knobs</li>
<br>

<b>Dimensions:</b>
<li>Pocket: 15 x 9 X 4 cm</li>
<li>Boxed : 16 x 9.5 X 3.5 cm</li>
<br>
</div>
<p align=center><img src="./assets/images/green_recycle.jpeg"/ width=45px> <b><font color="rgb(128, 128, 0)">To help make the planet a bit greener , <u>no cables are provided with open.control.</u></font> </b><br> 
  The USB cable is very standard (Printer type), you probably have one you don't use.</p>
<br><h1>
    FAQ
</h1>
<br>
<div class="specs">
<li>Q: Does opencontrol rely on Max For Live ?<br>
  No, there's no need to have Max For Live</li>
  <li>Q: Why is the display a LED matrix, and not an OLED display ?<br>
    The main idea behind open·control was to use it on stage and to be able to read it from a certain distance and from any angle. Therefore the best solution was a LED matrix.</li>
 <li>Q: How many pedals are needed with the Boxed version ?<br>
  With one pedal, you can already do 3 actions, 9 actions with 2 and so forth.</li>
  <li>Q: What version of Live are supported ?<br>
  Any version above Live 9 will work (Lite, Standard, Suite). </li>
  </div>
</html>