---
layout: splash
classes: wide

feature_row:
- image_path: /assets/images/Maker.jpeg
  title: "Pocket"
  excerpt: "**Desktop version**

  <p>6 Buttons and 2 Knobs<br>
    Optional 3D-printed Cover</p>"
- image_path: /assets/images/Maker.jpeg
  title: "Boxed"
  excerpt: "**Use pedals instead of buttons**

  <p>6 Jack inputs for Switch Pedals<br>
    2 Jack Inputs for Expression Pedals<br>
    Robust plastic enclosure</p>"
- image_path: /assets/images/Maker.jpeg
  title: "Maker"
  excerpt: "**Create your own enclosure**

  <p>6 Soldering Slots for Switches<br>
    2 Soldering Slots for variable Resistors<br>
    Includes Board + Components</p>"
  

accordion: 
  - title: Display
    content: Scene Name · Track Name · Marker Name · Variation Number · Looper Number
  - title: LEDs
    content: "<b><u>Global Actions</u></b> : Start/Stop · Metronome · Arrangement Rec · ⥁ Arrangement Loop · ○ Session Rec<br>
    <br> <b><u>Scene Actions</u></b> : Selected Scene Color · Prev/Next Scene Color · Unable/Disable Follow Actions<br>
    <br> <b><u>Track Actions</u></b> : Selected Track Color · Prev/Next Track Color · Clip Color · Mute · Solo · Arm <br>
    <br> <b><u>Looper Actions</u></b> : Prev/Next Looper Track Color · Looper State · Looper Track Arm · Looper Track Mute"
  - title: Buttons
    content: "<b><u>Global Actions</u></b> : Start/Stop · Metronome · Undo · Capture · BPM +1/-1 · Arr / Session View Toggle <br>
    <br> <b><u>Scene Actions</u></b> : Launch Scene · Select Next/Prev Scene · Session Record · Insert Scene · Stop All Clips · Unable/Disable Follow Actions <br> 
    <br> <b><u>Arrangement Actions</u></b> : Arrangement Rec · Arrangement Loop · Go to Prev/Next Marker · Add/Delete Marker · Loop to Next Marker · Punch In / Punch Out · Jump to 1.1.1 <br> 
    <br> <b><u>Track Actions</u></b> : Launch Clip · Find Empty Slot · Mute · Solo · Arm · Stop · Select Prev/Next Track · Add Audio/MIDI Track <br> 
    <br> <b><u>Variations Actions</u></b> : Launch, Store or Recall Variations · Randomize Macros · Select Prev/Next Variation · Select Prev/Next Device<br>
    <br>  <b><u>Looper Actions</u></b> : Rec/Play/OVR per Looper · Select Prev/Next Looper · Clear 1 · Clear All · Arm/Mute Looper Track · 6 MIDI-Mapable buttons per Looper"
  - title: Knobs
    content: "<br> <b><u>Global</u></b> : Last Selected Parameter · Global Groove Amount<br>
    <br> <b><u>Selected Track</u></b> : Send A · Send B · Selected Device Parameters 1 & 2 · Device 1 Parameters 1 & 2 · Looper Device 1 Parameters 1 & 2"
---
<html>
    <br>
    <div >
        <img src="./assets/images/logo_big.png" class="my_header"/>

    </div>
    <h3>
        open·control is a Control Surface for Ableton Live that adapts to your needs.<br>
        It has a large and bright display, 6 buttons and 2 sliders that you can configure exactly the way you want.<br>

    </h3>
    <br>
    <img src="./assets/images/open_control_rhodes.jpg" class="my_header"/>
    <br>

<h1>
1 controler, 3 flavors
</h1>
<h3>
    open·control comes in 3 flavors:
</h3>

<br>
{% include feature_row %}

<h3>
    Each version has the same set of features, simply choose how you want to control it.
</h3>
<br>
<h1>
    Create your own layout

</h1>

<h3>
    Each element of the controller can be changed instantly with an easy to use Web Editor.
</h3>


<br>
<img src="./docs/images/image1.png"  class="my_header"/>
<br>
<h2>
    Available Actions
</h2>
<br>
<br>
</html>
{% include accordion.html %}
<html>
<br>
<h3>
    Layout Examples
</h3>
<div>
galerie d'images de layouts
</div>
<br>
<h1>3 MIDI modes</h1>
<br>

<h1>Specifications</h1>
<br>
<h1>
    FAQ

</h1>
</html>