/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}

table.action_table {
  color: white;
text-align: center;
border-collapse:  separate;
background: rgb(0, 0, 0);
border: 1px none rgb(0, 0, 0);
  border-radius: 12px;
// height: 18px;
   width:100%;
   max-width:1000px;
/* padding-left: 5px;
padding-right: 5px; */
margin-left: auto;
margin-right: auto;
}


#leds_table th{
  background: rgb(89, 90, 90);
}
#leds_table {  
  background: rgb(89, 90, 90);
}

#buttons_table th{
  background: rgb(89, 90, 90);
}
#buttons_table {  
  background: rgb(89, 90, 90);
}

#sliders_table th{
  background: rgb(0, 34, 128);
}
#sliders_table {  
  background: rgb(0, 34, 128);
}


table.action_table td{
  color: rgb(89, 90, 90);
text-align: center;
border-collapse:  separate;
background: rgb(207, 207, 207);
border: 1px none rgb(0, 0, 0);
height: 18px;
width: 1000px;
// border-radius: 12px;
/* padding-left: 5px;
padding-right: 5px; */
padding-bottom: 10px;
}

table.action_table td.light{
  color: rgb(89, 90, 90);
text-align: center;
border-collapse:  separate;
background: rgb(247, 247, 247);
border: 1px none rgb(0, 0, 0);
height: 18px;
width: 1000px;
// border-radius: 12px;
/* padding-left: 5px;
padding-right: 5px; */
padding-bottom: 10px;
}

table.action_table th{
  font-size: larger;
  color: white;
text-align: center;
border-collapse:  separate;
background: rgb(0, 0, 0);
border: 1px none rgb(0, 0, 0);
height: 24px;
width: 100%;
/* padding-left: 5px;
padding-right: 5px; */
padding-bottom: 10px;
}

